@import "tailwindcss";

@media print {
  /* Forzar colores de fondo en la impresión */
  td {
    -webkit-print-color-adjust: exact; /* Para navegadores basados en WebKit */
    print-color-adjust: exact; /* Estándar */
  }

  th {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  div {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .a4-container {
    page-break-after: always; /* Forzar salto de página después de cada grupo */
    @apply w-[2286px] h-[1588px] border-none;
  }
}

.a4-container {
  @apply mx-auto px-6 py-3 overflow-hidden border border-gray-300;
}
